[defaults]
inventory = /opt/ansible/inventory/hosts.ini
gather_facts = True
gathering = smart
inrterpreter_python = auto_silent
stdout_callback = default
result_format = yaml
ansible_host_key_checking = True
roles_path = /opt/ansible/roles
vault_password_file = .vault_pass

[priviledge escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
